html, body { 
		font-family: Roboto 
		padding: 0;
		margin: 0;	}




header{
	background-color: #8600b3;
	background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg);
	text-align: center;
	padding: 100px;
	/*parallax effect*/
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
h1{
	font-size: 90px;
	color: white; 
	text-align: center;
	font-family: Roboto
}

header img{
	border-radius: 20px;
	width: 200px;
	border: 10px solid white;
}



.about{ text-align: center; 
		font-family: Roboto; 
		font-size: 50px;
}



h2{
	text-align: center;
	font-family: Roboto;
	font-size: 50px;
}


ol li{ 
display: inline;
align-content: center;
font-family: Roboto;
}

.sentence{text-align: center;
			font-family: Roboto;
			padding-bottom: 50px;
			}

.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	color:  lightgrey;
	font-style: italic; 
	font-family: Roboto;
}

ul{
	list-style: none; 
	padding: 0;
	margin: 0;
}

a{
	color: red;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 40px 20px; 
	background-color: #39004d
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
	color: white;
	font-family: Roboto;
}




